<div class="top"><span>To: <span class="name">{{contact.firstName}} {{contact.lastName}}</span></span></div>

<div class="chat">
    <div class="conversation-start">
        <span>Today, 5:38 PM</span>
    </div>
    <div *ngFor="let currentMessage of messageList" class="bubble"
         [ngClass]="{'you': currentMessage.from==='server', 'me' : currentMessage.from==='client'}">
        {{currentMessage.message}}
    </div>

</div>
<form (ngSubmit)="onSubmit()">
    <div class="write ">
        <input [(ngModel)]="messageToSend" type="text"/>
        <span class="write-link send"></span>
    </div>
</form>