<div class="container">

    <div class="row description">
        <div class="col-xs-2">
            <h4><i class="fa fa-arrow-circle-left" aria-hidden="true"
                   (click)="closeComponentAfterClick()"
            ></i>
            </h4>
        </div>
        <div class="col-xs-8 plotName">
            <h4>{{plotName}}</h4>
        </div>
    </div>

    <div class="row buttonRow">
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" (click)="lastDay()">Last {{day}}</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" (click)="lastWeek()">Last {{week}}</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" (click)="lastMonth()">Last {{month}}</button>
        </div>
    </div>

    <div *ngIf="loading==true">
        <div class="row">
            <div class="col-xs-12 loading">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Loading charts...
            </div>
        </div>
    </div>

    <div class="row">
        <base-chart class="chart"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColours"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>

    </div>

    <div class="row">
        <base-chart class="chart"
                    [datasets]="lineChartDataL"
                    [labels]="lineChartLabelsL"
                    [options]="lineChartOptionsL"
                    [colors]="lineChartColoursL"
                    [legend]="lineChartLegendL"
                    [chartType]="lineChartTypeL"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>

    </div>

    <div class="row">
        <base-chart class="chart"
                    [datasets]="lineChartDataT"
                    [labels]="lineChartLabelsT"
                    [options]="lineChartOptionsT"
                    [colors]="lineChartColoursT"
                    [legend]="lineChartLegendT"
                    [chartType]="lineChartTypeT"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>

    </div>

    <!--
    <div class="row">
        <base-chart class="chart"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>
    </div>-->
</div>
