<div class="container">
    <br/>
    <div class="row buttonRow">
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" (click)="lastDay()">Last Day</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" (click)="lastWeek()">Last Week</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" (click)="lastMonth()">Last Month</button>
        </div>
    </div>


    <div class="row">
        <base-chart class="chart"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColours"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>

    </div>

    <div class="row">
        <base-chart class="chart"
                    [datasets]="lineChartDataL"
                    [labels]="lineChartLabelsL"
                    [options]="lineChartOptionsL"
                    [colors]="lineChartColoursL"
                    [legend]="lineChartLegendL"
                    [chartType]="lineChartTypeL"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>

    </div>

    <div class="row">
        <base-chart class="chart"
                    [datasets]="lineChartDataT"
                    [labels]="lineChartLabelsT"
                    [options]="lineChartOptionsT"
                    [colors]="lineChartColoursT"
                    [legend]="lineChartLegendT"
                    [chartType]="lineChartTypeT"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>

    </div>


    <div class="row">
        <base-chart class="chart"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>
    </div>
</div>
