@import '../../../styles/variables';

.buttonRow {
  margin-top: 8px;
  margin-left: 10px;
}

.btn {
  font-size: 10px;
  background-color: $colorButton;
}
.btn:hover {
   background-color: $colorButtonHover;
  border-color:$colorButtonHover
 }

.chart {
  width: 90%;
  margin-left: 10px;
  color:white;
}
.loading{
  text-align: center;
}
.fa-circle-o-notch {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

