@import "../../../../../styles/variables";

.name {
  font-size: 14px;
  line-height: 22px;
  color: $dark;
  @include font-bold;
}

img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $grey;
}