@import '../../../styles/variables';

.menuItem, h1{
  color: $menuFontColor;
}

.row{
  padding-top:2px;
  text-align: center;
}
.fa{
  font-size: 35px;
  border-bottom: 3px solid $colorButton;
}



.fa:hover{
  border-bottom: 3px solid $menuFontColor;
}